{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": "commonjs"
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "corejs": {
                    "version": 3,
                    "proposals": true
                },
                "helpers": true,
                "regenerator": true,
                "useESModules": true
            }
        ],
        "@babel/plugin-proposal-function-bind",
        "@babel/plugin-proposal-export-default-from",
        "@babel/plugin-transform-logical-assignment-operators",
        [
            "@babel/plugin-transform-optional-chaining",
            {
                "loose": false
            }
        ],
        [
            "@babel/plugin-proposal-pipeline-operator",
            {
                "proposal": "minimal"
            }
        ],
        [
            "@babel/plugin-transform-nullish-coalescing-operator",
            {
                "loose": false
            }
        ],
        "@babel/plugin-proposal-do-expressions",
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        "@babel/plugin-proposal-function-sent",
        "@babel/plugin-transform-export-namespace-from",
        "@babel/plugin-transform-numeric-separator",
        "@babel/plugin-proposal-throw-expressions",
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-syntax-import-meta",
        [
            "@babel/plugin-transform-class-properties",
            {
                "loose": false
            }
        ],
        "@babel/plugin-transform-json-strings",
        [
            "@babel/plugin-transform-private-methods",
            {
                "loose": false
            }
        ],
        [
            "@babel/plugin-transform-private-property-in-object",
            {
                "loose": false
            }
        ]
    ],
    "env": {
        "development": {
            "presets": [
            ]
        }
    }
}
