@import "style";
.uex{
  &_ExTag{
    &_Dialog{
      &_View{
        .ant-modal-body{
          padding: $uni_font * 0.1 !important;
          .tag-selector{
            padding: $uni_font * 0.8 $uni_font * 0.5 $uni_font * 1.5 $uni_font * 0.5;
          }
        }
      }
      .ux_form{
        .ant-radio-wrapper{
          width: 23%;
          line-height: 27px;
        }
      }
    }
    min-height: $uni_font * 2.6;
    .tag-prefix {
      text-align: right;
      font-weight: bold;
      line-height: $uni_font * 2.2;
    }
    .tag-op{
      color: $uni_color;
      font-size: $uni_font * 1.2;
      padding-top: $uni_font * 0.1;
      display: inline-block;
      float: left;
      &:hover{
        cursor: pointer;
      }
    }
    .tag-refresh{
      color: $color_op_gold;
      font-size: $uni_font * 1.2;
      padding-top: $uni_font * 0.1;
      margin-right: $uni_font * 0.5;
      display: inline-block;
      float: left;
      &:hover{
        cursor: pointer;
      }
    }
    .tag-content{
      display: inline-block;
      float: left;
    }
  }
}