.uf{
  &_FSettleItems{
    .ant-table-footer{
      padding: 0 12px;
      line-height: 36px;
      .fm_item_green{
        color: green;
      }
      .fm_item_blue{
        color: #0e8be6;
      }
      .fm_item_red{
        color: darkorange;
      }
    }
  }
}